/* start globale roles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.Special_Heading {
    width: fit-content;
    text-align: center;
    text-transform: uppercase;
    color: var(--ThColor);
    margin: 0 auto;
    padding: 10px 30px;
    border: 2px solid var(--ThColor);
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    transition: var(--MainTransition);
    -webkit-transition: var(--MainTransition);
    -moz-transition: var(--MainTransition);
    -ms-transition: var(--MainTransition);
    -o-transition: var(--MainTransition);
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.Special_Heading::before,
.Special_Heading::after {
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    transition: var(--MainTransition);
    -webkit-transition: var(--MainTransition);
    -moz-transition: var(--MainTransition);
    -ms-transition: var(--MainTransition);
    -o-transition: var(--MainTransition);
    z-index: -1;
}

.Special_Heading::before {
    left: 0;
    top: 0;
    background-color: #ff4200;
}

.Special_Heading::after {
    right: 0;
    bottom: 0;
    background-color: #ff4200;
}

.Special_Heading:hover::before,
.Special_Heading:hover::after {
    width: 100%;
}

.Special_Heading:hover {
    background-color: var(--ThColor);
    color: white;
    box-shadow: -1px 0px 20px 1px #ff4200;
    border-color: transparent;
    transition-delay: 0.3s;
}

:root {
    --MainColor: #ffba00;
    --SecColor: #ffc107;
    --ThColor: #ff4200;
    --SectionPadding: 100px;
    --MainTransition: 0.4s;
    --LineHeight: 1.7;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* small  */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* start globale rules */
/* start header  */

header {
    position: absolute;
    width: 100%;
    left: 0;
    z-index: 3;
}

header .container {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}

@media (max-width: 991px) {
    header .container {
        flex-direction: column;
    }
}

header .container::before {
    content: "";
    position: absolute;
    left: 15px;
    bottom: 0;
    width: calc(100% - 30px);
    height: 1px;
    background-color: var(--SecColor);
}

header .container .logo {
    font-size: 23px;
    font-weight: 900;
    color: var(--MainColor);
    text-transform: uppercase;
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .container nav {
    flex: 1;
}

header .container nav>ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}

header .container nav ul>li {
    position: relative;
}

/* start menu */
@media (max-width: 768px) {
    header .container li:nth-of-type(2) {
        order: 9;
    }
}

header .container li:nth-of-type(2) .menu {
    position: absolute;
    top: 100%;
    left: 20px;
    min-height: 150px;
    width: 200px;
    padding: 0;
    background-color: #0000008f;
    display: none;
    transition: var(--MainTransition);
}

header .container li:nth-of-type(2):hover>.menu {
    display: block;
}

@media (max-width: 768px) {
    header .container li:nth-of-type(2) .menu {
        width: 130px;
    }
}

header .container li:nth-of-type(2) .menu::before {
    content: "";
    position: absolute;
    left: 0;
    top: -19px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #0000008f transparent;
}

header li:nth-of-type(2) .menu ul li {
    margin-top: 10px;
    text-align: left;
    transition: var(--MainTransition);
}

header li:nth-of-type(2) .menu ul li:hover {
    padding-left: 25px;
}

header li:nth-of-type(2) .menu ul li:not(:last-child) {
    border-bottom: 1px solid #9a9a9a;
}

header .container li:nth-of-type(2) .menu a {
    min-height: 40px;
    padding-left: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: white;
    transition: var(--MainTransition);
}

header .container li:nth-of-type(2) .menu a:hover {
    color: var(--MainColor);
}

/* end menu */

header .container nav>ul>li>a {
    text-transform: capitalize;
    color: white;
    width: fit-content;
    padding: 0 9px;
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: var(--MainTransition);
    -webkit-transition: var(--MainTransition);
    -moz-transition: var(--MainTransition);
    -ms-transition: var(--MainTransition);
    -o-transition: var(--MainTransition);
}


@media (max-width: 768px) {
    header .container nav ul>li>a {
        min-height: 40px;
    }

    header .container nav>ul {
        justify-content: center;
        gap: 5px;
    }

    header .container nav>ul>li:last-child {
        margin: 0;
    }
}

header .container nav>ul>li>a:hover {
    color: var(--MainColor);
}

header .container nav>ul>li:last-child {
    margin-left: 50px;
}

/* end header  */
/* start landing */
.landing {
    position: relative;
    height: 800px;
    overflow: hidden;
    z-index: 2;
}

.landing::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 40%);
    z-index: 1;
}

.landing video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.landing .text {
    color: white;
    position: absolute;
    z-index: 100;
    top: 50%;
    left: 50%;
    text-transform: capitalize;
    font-size: 25px;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

@media (max-width: 768px) {
    .landing .text {
        font-size: 21px;
    }
}

.landing .text::before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -20px;
    height: 3px;
    width: 0;
    background-color: #9a9a9a;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transition: var(--MainTransition);
    -webkit-transition: var(--MainTransition);
    -moz-transition: var(--MainTransition);
    -ms-transition: var(--MainTransition);
    -o-transition: var(--MainTransition);
}

.landing .text:hover::before {
    width: 80%;
}

/* end landing  */
/* start dessert */
.dessert,
.sundae {
    padding-top: var(--SectionPadding);
    padding-bottom: var(--SectionPadding);
}

.dessert .container,
.sundae .container {
    margin-top: 80px;
    display: grid;
    grid-template-areas:
        "one one two two three"
        "one one four five five"
        "six six seven five five"
        "eight nine seven ten ten";
    height: 800px;
    grid-template-rows: repeat(4, 200px);
    gap: 10px;
}

@media (max-width: 768px) {

    .dessert .container,
    .sundae .container {
        display: flex;
        flex-direction: column;
        height: auto;
    }
}

.container .one {
    grid-area: one;
}

.container .two {
    grid-area: two;
}

.container .three {
    grid-area: three;
}

.container .four {
    grid-area: four;
}

.container .five {
    grid-area: five;
}

.container .six {
    grid-area: six;
}

.container .seven {
    grid-area: seven;
}

.container .eight {
    grid-area: eight;
}

.container .nine {
    grid-area: nine;
}

.container .ten {
    grid-area: ten;
}

.container .box {
    position: relative;
    overflow: hidden;
}

.container .image {
    height: 100%;
}

.container img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.container .box span,
.container .box .info {
    position: absolute;
}

.container .box span {
    top: -100%;
    right: 10px;
    background-color: var(--SecColor);
    padding: 15px 5px 25px;
    color: white;
    transition: var(--MainTransition);
    -webkit-transition: var(--MainTransition);
    -moz-transition: var(--MainTransition);
    -ms-transition: var(--MainTransition);
    -o-transition: var(--MainTransition);
    border-radius: 0 0 20px 20px;
    -webkit-border-radius: 0 0 20px 20px;
    -moz-border-radius: 0 0 20px 20px;
    -ms-border-radius: 0 0 20px 20px;
    -o-border-radius: 0 0 20px 20px;
}

.box:hover span {
    top: 0;
}

.box span:hover,
.box .info:hover {
    background-color: var(--ThColor);
}

.box .info {
    bottom: -100%;
    width: 100%;
    height: 20%;
    background-color: var(--SecColor);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    color: white;
    text-transform: capitalize;
    font-family: 'Dancing Script', cursive;
    font-size: 22px;
    transition: var(--MainTransition);
    -webkit-transition: var(--MainTransition);
    -moz-transition: var(--MainTransition);
    -ms-transition: var(--MainTransition);
    -o-transition: var(--MainTransition);
}

.box:hover .info {
    bottom: 0;
}

/* end dessert  */
footer {
    padding-top: var(--SectionPadding);
    padding-bottom: var(--SectionPadding);
    background-color: #777;
}

footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 70px;
}

@media (max-width: 768px) {
    footer .container {
        text-align: center;
    }
}

footer .container div {
    flex: 1;
    padding-bottom: 50px;
}

footer .container h3 {
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 30px;
    font-weight: normal;
}

footer .container .about p {
    color: white;
    font-family: 'Dancing Script', cursive;
    line-height: 3;
}

footer .container .links ul {
    width: 300px;
    /* margin: 0 auto; */
}

@media (max-width: 768px) {
    footer .container .links ul {
        margin: 0 auto;
    }
}

footer .container .links ul li {
    padding: 15px 0;
}

footer .container .links ul li a:hover {
    padding-left: 20px;
    color: var(--MainColor);
}

footer .container .links ul li:not(:last-child) {
    border-bottom: 1px solid #9a9a9a;
}

footer .container .links ul li a {
    color: white;
    text-transform: capitalize;
    transition: var(--MainTransition);
    cursor: pointer;
    font-size: 19px;
}

footer .contact {
    padding-top: 40px;
    border-top: 4px dotted #9a9a9a;
    text-align: center;
}

footer .contact h3 {
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-weight: normal;
}

@media (max-width: 768px) {
    footer .contact h3 {
        font-size: 24px;
        line-height: var(--LineHeight);
    }
}

footer .contact a {
    height: 50px;
    margin: 20px 5px;
    padding: 0 15px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 19px;
    transition: var(--MainTransition);
    color: #202020;
}

footer .contact a:first-of-type:hover {
    background-color: #1877f2;
    color: white;
}

footer .contact a:nth-of-type(2):hover {
    background-color: #fd1d1d;
    color: white;
}

footer .contact a:last-of-type:hover {
    background-color: #004182;
    color: white;
}

footer .contact p {
    color: white;
    font-size: 19px;
    text-transform: capitalize;
    position: relative;
    width: fit-content;
    margin: 0 auto;
}

footer .contact p::before {
    content: "";
    position: absolute;
    left: 10%;
    bottom: -20px;
    width: 80%;
    height: 2px;
    background-color: #9a9a9a;
}

footer .contact p span {
    color: var(--ThColor);
    font-size: xx-large;
}

/* end dessert */